<main class="form-signin w-100">
    <form action="/account/login" method="post">
        <h1 class="h3 mb-3 fw-normal text-center">請登入</h1>

        <div class="form-floating mb-2">
            <input name="account" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">電子郵件信箱</label>
        </div>

        <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">密碼</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 記住我
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">登入</button>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2024 公司名稱</p>
    </form>
</main>